.advantages__wraper {
  text-align: center;
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 46px;
  margin-bottom: 70px;
}

.advantages__title:first-child {
  padding-top: 53px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 24px;
}

.advantages__decription {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.advantages__aside {
  display: none;
}
