.advantages__wraper {
  text-align: center;
}

.advantages {
  background-image: url("../img/Group_1.png"), url("../img/grey_background.png");
  background-repeat: no-repeat;
  min-height: 1008px;
  background-size: 157px 320px, 100% 100%;
  background-position: 77px 755px, 0 180px;
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 46px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 24px;
  margin: 0;
  padding-top: 43px;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.advantages__aside {
  display: none;
}

.advantages__slogan-bottom {
  margin-bottom: 82px;
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
  }

  .advantages__item {
    margin-top: 366px;
    text-align: center;
    padding-left: 10px;
  }

  .advantages {
    background-position: 895px 259px, 0 180px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    text-align: left;
  }

  .advantages {
    background-position: 895px 259px, 0 180px;
    background-size: 157px 320px, 100% 45%;
  }
}
