.aside__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.aside__decription {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.aside__link {
  color: @bright-element;
  text-decoration: underline;
}
