.button-form {
  background-color: @button;
  color: @background;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  min-width: 276px;
  border: 2px solid @button;
  padding-top: 12px;
  padding-bottom: 13px;
  border-radius: 1px;
  margin-bottom: 20px;
  margin-left: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    min-width: 298px;
    margin-bottom: 40px;
  }
}

.button-form:hover {
  background-color: @button-hover;
}

.button-form:active {
  background-color: @button-hover;
  color: fade(@background, 30%);
}

.button-form:disabled {
  background-color: @border-form;
}

.button__post-adding {
  min-width: 280px;
  border: 3px solid @bright-element;
  background-color: @admission;
  color: @bright-element;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 15px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-left: 38px;
    min-width: 260px;
    max-width: 260px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    min-width: 183px;
    padding-left: 0;
    margin-bottom: 18px;
  }
}

//  Catalog

.button__inner {
  padding-left: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
  margin-right: 14px;
  margin-top: 73px;

  @media (min-width: @tablet-width) {
    margin-top: 267px;
    padding-left: 0;
    margin-right: 14px;
    grid-column-start: 2;
  }

  @media (min-width: @desktop-width) {
    margin-top: 341px;
    display: flex;
    margin-right: 60px;
  }
}

.button__post-adding.post-adding__rest-btn {
  border: 3px solid @base-text;
  opacity: 0.1;
  color: @base-text;

  &:hover {
    color: @base-text;
    border: 3px solid @base-text;
    opacity: 0.3;
  }

  &:active {
    border: 3px solid @base-text;
    color: fade(@background, 30%);
    background-color: @base-text;
  }
}

.button__post-adding.post-adding__postig-btn {
  border: 3px solid @bright-element;
  background-color: @admission;
  color: @bright-element;

  &:hover {
    color: @background;
    background-color: @bright-element;
  }

  &:active {
    color: fade(@background, 30%);
    background-color: @bright-element;
  }
}
