.form__title {
  padding-top: 54px;
  padding-bottom: 55px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.form__quest fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__quest input::-webkit-input-placeholder {
  color: @base-text;
  padding-left: 20px;
}

// Textarea

.form__quest textarea {
  min-width: 272px;
  border: 2px solid #e5e5e5;
  padding: 23px 0;
  font-size: 18px;
  line-height: 30px;
  margin-top: 17px;
}

.form__quest textarea::-webkit-input-placeholder {
  color: @base-text;
  padding-left: 20px;
}
