.form__title {
  padding-top: 54px;
  padding-bottom: 55px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__color-wrapper {
  min-width: 320px;
}
