.gallery__author-info {
  background-color: @admission;
  padding-top: 25px;
  padding-left: 17px;
}

.gallery__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 60px;
}

.gallery__autor-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.gallery__autor-name span {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.gallery__autor-text {
  font-size: 14px;
  line-height: 24px;
  padding-top: 14px;
  padding-bottom: 25px;
  margin: 0;
}

.gallery__likes {
  font-size: 12px;
  line-height: 24px;
  color: @bright-element;
  background-color: @admission;
  margin: 0;
  padding-left: 17px;
}

.gallery a {
  color: inherit;
}

// Picture

.gallery img {
  margin-top: 20px;
}
