.gallery__author-info {
  background-color: @admission;
  padding-top: 26px;
  padding-left: 17px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 27px;
  }
}

.gallery__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 60px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 85px;
    padding: 0 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 97px;

    br {
      display: block;
    }
  }
}

.gallery__stiker {
  display: block;
  position: absolute;
  top: 680px;
  right: 17px;
  padding: 6px 20px 6px 19px;
  background-color: @bright-element;
  color: @background;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  min-width: 140px;
  text-align: center;

  @media (min-width: @tablet-width) {
    top: 949px;
  }

  @media (min-width: @desktop-width) {
    top: 772px;
  }
}

.gallery__autor-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.gallery__autor-name span {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__autor-text {
  font-size: 14px;
  line-height: 24px;
  padding-top: 14px;
  padding-bottom: 25px;
  margin: 0;
}

.gallery__likes {
  font-size: 12px;
  line-height: 24px;
  color: @bright-element;
  background-color: @admission;
  margin: 0;
  padding-left: 48px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 27px;
  }
}

.gallery a {
  color: inherit;
}

.gallery__list {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

// Picture

.gallery img {
  margin-top: 20px;
}

.gallery__mobile-panoram {
  display: block;
  width: 100%;
  background-color: @border-form;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 620px;
    justify-content: space-around;
  }

  .gallery__item {
    max-width: 300px;
  }

  .gallery__author-info {
    min-height: 155px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
  }

  .gallery__item {
    max-width: 300px;
  }

  .gallery__author-info {
    min-height: 155px;
  }
}
