.page-header {
  background-color: #283645;
  color: #ffffff;
}

.page-header a {
  color: inherit;
}

.page-header__menu {
  position: relative;
}

.page-header__promo {
  background-color: @header;
  color: @background;
  background-image: url("../img/back-mobile.png"), url("../img/group.png");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover, 300px;
}

// Logo

.page-header__logo {
  margin-top: 0;
  padding-top: 22px;
  display: block;
}
