.page-header__container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  background-color: @header;
  color: @background;
}

.page-header a {
  color: inherit;
}

// Logo

.page-header__logo {
  margin-top: 0;
  padding-top: 22px;
  display: block;
}
