.post-adding__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 61px;
}

@media (min-width: @tablet-width) {
  .post-adding__title {
    text-align: center;
  }

  .post-adding__form {
    text-align: right;
    background-color: @admission;
  }
}

.post-adding__postig-btn {
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {
    margin-right: 44px;
  }
}

.post-adding__item:not(:first-child) {
  display: none;
}

//

.post-adding__range-line {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: @base-text;
  left: 20px;
}

.post-adding__btns-list {
  margin-top: 119px;
}

.post-adding__btn--crpo {
  display: none;
}

.post-adding__range-cricle-btn {
  display: none;
}

.post-adding__range-line::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid @bright-element;
  border-radius: 50%;
  top: -4px;
  left: 193px;
  background-color: @background;
}
