.promo {
  background-color: @header;
  color: @background;
}

.promo a {
  color: inherit;
}

.promo__slogan {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.promo img:first-child {
  position: absolute;
  top: 20px;
}

.buttton__to-all {
  border: 3px solid @background;
  box-sizing: border-box;
  border-radius: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}

.promo__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
