.quest p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @bright-element;
}

.quest label {
  padding-left: 23px;
  padding-bottom: 17px;
  text-transform: uppercase;
}

.quest__item {
  border: 2px solid @border-form;
  padding-top: 23px;
  padding-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  padding-right: 80px;
  margin-top: 17px;
}

input::-webkit-input-placeholder {
  color: @base-text;
  padding-left: 20px;
}

.quest__list {
  margin-top: 44px;
}

.quest__list legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @bright-element;
  text-align: center;
  padding-bottom: 55px;
}
