.quest p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.quest label {
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: @bright-element;
}

.quest__about-inner label {
  padding-left: 15px;
  font-size: 14px;
  line-height: 30px;
  color: @bright-element;
}

.quest__item {
  border: 2px solid @border-form;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  margin-top: 6px;
  min-width: 280px;
  padding-bottom: 14px;
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    min-width: 524px;
    padding-left: 0;
    margin-top: 1px;
    margin-bottom: 24px;
    padding-top: 17px;
    padding-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    min-width: 312px;
    max-width: 312px;
    padding: 23px 0 23px 20px;
  }
}

.quest__item:hover {
  border: 2px solid @base-text;
}

.quest__item:focus {
  border: 2px solid @bright-element;
}

.quest__about {
  padding: 0 20px;
}

// Checkbox

.quest__checkbox-wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 85px;
    position: relative;
  }
}

.quest__header-checkbox {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @bright-element;
  text-align: center;
  margin: 0;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -8px;
    left: 103px;
    background-color: @background;
    padding: 0 20px;

    br {
      display: none;
    }
  }
}

.quest__checkbox-item label {
  color: @base-text;
  font-size: 18px;
  line-height: 30px;
  padding-left: 60px;
}

.quest__header {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @bright-element;
  text-align: center;
  margin: 0;
  padding-top: 29px;
}

.quest__checkbox-item {
  position: relative;
  padding-top: 42px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 53px;
    padding-bottom: 0;
    padding-left: 57px;
  }
}

.quest__checkbox-item:last-child {
  padding-bottom: 48px;
}

// Radio

.quest__radio-item label {
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
  color: @base-text;
}

.quest__list,
.quest__list-radio,
.quest__header {
  padding-left: 20px;
  padding-right: 20px;
}

.quest__inner-backgraound {
  background-color: @admission;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: @background;
    padding: 0 20px;
    margin-top: -19px;
    min-width: 661px;
  }

  @media (min-width: @desktop-width) {
    background-color: @background;
    padding: 0;
    margin-top: 0;
  }
}

.quest__radio-item {
  padding-top: 44px;
  padding-left: 59px;
}

.quest__radio-item:first-child {
  padding-top: 56px;
}

.quest__radio-item:last-child {
  padding-bottom: px;
}

.quest__radio--input:hover {
  color: @base-text;
}

// Contacts

fieldset.quest_contact-inner {
  border: 2px solid @border-form;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 15px;
    padding-right: 60px;
  }
}

.quest_contacts label {
  @media (min-width: @tablet-width) {
    margin-left: 77px;
    margin-top: 15px;
    text-align: start;
  }
}

.quest__item-contact {
  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }
}

.quest__header-contact {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @bright-element;
  text-align: center;
  margin: 0;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    position: absolute;
    background-color: @background;
    top: 10px;
    left: 211px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    z-index: 2;
  }
}

.quest_contacts p {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.quest_contacts {
  padding: 0 20px;
}

.quest_contact-inner label {
  @media (min-width: @tablet-width) {
    margin-top: 18px;
    order: 1;
  }
}

// Textarea

.quest__header-textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @bright-element;
  text-align: center;
  margin: 0;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -7px;
    left: 180px;
    background-color: @background;
    padding: 0 35px;
  }
}

.quest_textarea-wrapper {
  border: 2px solid @border-form;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.quest_textarea {
  @media (min-width: @tablet-width) {
    order: 5;
    margin-top: 67px;
    margin-left: 21px;
    min-width: 619px;
  }
}

@media (min-width: @tablet-width) {
  .quest label {
    margin-right: 20px;
    padding-left: 0;
  }

  .quest__about-inner {
    display: flex;
    align-items: baseline;
  }

  .quest__about {
    order: 1;
  }

  .quest__inner-checkbox {
    order: 4;
  }

  .quest_contacts {
    order: 3;
    margin-top: 49px;
    position: relative;
  }

  .quest__radio {
    order: 2;
  }

  .quest__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
  }

  .quest p {
    text-align: center;
  }

  .quest__list,
  .quest__list-radio {
    border: 2px solid @border-form;
    padding-left: 60px;
  }

  p.quest__text {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .quest__inner-radio {
    margin-left: 74px;
  }

  .quest__list-radio {
    padding-bottom: 28px;
    padding-right: 0;
  }

  .quest_contacts {
    width: 100%;
    margin-top: 40px;
    padding: 0 130px;
  }

  .quest_contact-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .quest__inner-checkbox {
    width: 100%;
  }

  .quest__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .quest__checkbox-item {
    min-width: 250px;
  }

  .form__quest textarea {
    min-width: 816px;
    margin-left: 60px;
  }
}

.quest__checkbox-input {
  display: none;
}

.quest__checkbox-item::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 2px;
  width: 35px;
  height: 35px;
  border: 2px solid @border-form;

  @media (min-width: @tablet-width) {
    top: 50px;
    left: 0;
    width: 36px;
    height: 36px;
  }
}

.quest__checkbox-item:checked + label::after {
  content: "";
  position: absolute;
  top: 41px;
  left: 2px;
  width: 35px;
  height: 35px;
  border: 2px solid @border-form;
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.quest_contact-inner .quest__item {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 13px;
    margin-top: 31px;
    margin-left: 58px;
    min-width: 500px;
    margin-bottom: -15px;
  }
}

.quest__inner-backgraound .header {
  padding-top: 47px;
}

.quest__radio-item input {
  display: none;
}

.quest__radio-item::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 22px;
  width: 37px;
  height: 37px;
  border: 2px solid @border-form;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 52px;
    left: 59px;
    width: 39px;
    height: 39px;
  }
}

.quest__list-radio {
  position: relative;
  min-height: 299px;
  margin-top: 47px;
}

.quest__text-span {
  color: @bright-element;
}

.quest__text {
  padding-left: 70px;
}

.quest__about-inner-midle {
  @media (min-width: @tablet-width) {
    margin-top: 26px;
    margin-bottom: 25px;
  }
}

.quest__header-radio {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @bright-element;
  text-align: center;
  margin: 0;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    position: absolute;
    background-color: @background;
    top: 39px;
    left: 151px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    z-index: 2;
  }
}

.quest__radio-input label {
  @media (min-width: @tablet-width) {
    padding-left: 10px;
  }
}
