.reviews-wrapper {
  text-align: center;
  padding-top: 50px;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 31px;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews__author-info {
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
    color: @header-text;
  }
}
