.reviews {
  position: relative;
}

.reviews-wrapper {
  text-align: center;
  padding-top: 41px;

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    color: @header-text;
    order: 2;
    margin-top: 18px;
    margin-bottom: 14px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 62px;
  }

  br {
    display: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 135px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 30px;
    margin-top: -47px;
    display: block;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: -43px;
  }
}

.reviews__prev,
.reviews__next {
  display: none;
}

p.reviews__toggles.slider__toggles {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews .container {
  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
