.tariffs {
  background-color: @admission;
}

.tariffs__list {
  background-color: @header;
  color: @background;
  text-align: center;
}

.tariffs__titel {
  border: 2px solid #e02727;
  padding-top: 20px;

.tariffs__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.tariffs__items {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.tariffs__toggles {
  text-align: center;
}

.tariffs__inner-anlim,
.tariffs__inner-baza {
  display: none;
}
